
.nav-bar-number{
    color: var(--color-secundary);
    font-family: var(--font-mono);
    float: right;
    margin-top: 2.5rem;
    font-size: 14px;
    margin-right: 0.2rem;

}

.nav-bar-number:hover{
    cursor: pointer;
}

.nav-bar-text{
    color: var(--text-color-primary);
    text-decoration: none;
    font-family: var(--font-mono);
    float: right;
    margin-top: 2.5rem;
    margin-right: 1.7rem;
    font-size: 14px;
}


