

.resume{
    color: var(--color-secundary);
    font-family: var(--font-mono);
    margin-top: 2.5rem;
    margin-right: 5rem;
    float: right;
    font-size: 14px;
    margin-left: 1rem;
}


.border{
    width: 5rem;
    height: 2.2rem;
    float: right;
    border-style: solid;
    border-width: 1px;
    border-radius: 7.5%;
    color: #64FFDA;
    position: absolute;
    top: 1.9rem;
    right: 4rem;
}

.border:hover{
    cursor: pointer;
    background-color: var(--text-color-primary);
    opacity: 30%;
}

.logo{
    width: 3.5rem;
    height: 3.5rem;
    display: inline;
    margin-top: 1.9rem;
    margin-left: 3.5rem;
}