.nav-bar-container{
    height: 25%;
    width: 100%;
}

.resume{
    color: var(--color-secundary);
    font-family: var(--font-mono);
    margin-top: 4rem;
    margin-right: 40px;
    float: right;
    font-size: 14px;
    /*border-style: solid ;*/
    /*border-width: 1px;*/
    /*border-radius: 5%;*/
    /*padding: 15px;*/

}

.border{
    width: 80px;
    height: 40px;
    float: right;
    border-style: solid;
    border-width: 1px;
    border-radius: 5%;
    color: #64FFDA;
   position: absolute;
    top: 3.3rem;
    right: 1.5rem;


}